{% extends 'ekohms/base.html' %}

{% load static %}

{% block content %}

  <div class="overlay"></div>
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light text-light">About Us</h1>
          <p class="lead text-light">A fairy tale where your wishes come true</p>
        </div>
      </div>
    </div>
  </header> 
 <!-- History -->

 <div class="container">
    <div class="row py-5">

      <div class="col-md-6 d-block-sm pb-4">
        <h2>Our History</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione error sed aut sapiente expedita
          provident praesentium autem ut.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto at, reprehenderit tempora, omnis
          voluptate ea ipsa sint quod facilis expedita impedit rem quia ad.</p>
        <p>Samet velit aut quisquam voluptatem dolorum perferendis explicabo perspiciatis? Optio voluptate neque quos
          minima laborum quia id rerum aspernatur aliquam molestias voluptates.</p>
      </div>

      <div class="col-md-6 d-block-sm">
        <img class="w-100" src="{% static 'ekohms/images/history.jpg' %}" alt="Hotel outdoor at night">
      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  <!-- End of History -->

  <!-- Team -->

  <div class="container py-5">
    <div class="row py-5">

      <div class="col-md-6 d-block-sm">
        <img class="w-100" src="{% static 'ekohms/images/team.jpg' %}" alt="Management team">
      </div>

      <div class="col-md-6 d-block-sm pb-4 pl-4">
        <h2 class="pb-3">Our Team</h2>
        <p class="lead"><small>John Doe, Managing Director</small></p>
        <p class="lead"><small>Jane Doe, Director of Human Resources</small></p>
        <p class="lead"><small>William Smith, Financial Controller</small></p>
        <p class="lead"><small>Mary Smith, Director of Food & Beverage</small></p>
        <p class="lead"><small>Ashley Jackson, Director of Sales & Marketing</small></p>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  <!-- End of Team -->

  <!-- Testimonials -->

  <div class="container py-5">
    <section class="team-section text-center my-5">

      <!-- Section heading -->
      <h3 class="h1-responsive font-weight-bold my-5">Testimonials</h3>

      <!-- Section description -->
      <p class="dark-grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p>

      <!-- Grid row -->
      <div class="row text-center">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">

          <div class="testimonial">

            <!-- Avatar -->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
                class="rounded-circle z-depth-1 img-fluid">
            </div>

            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
            <h5 class="font-weight-bold blue-text my-3">Web Designer</h5>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
              eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>

            <!-- Review -->
            <div class="orange-text">
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star-half-alt text-primary"></i>
            </div>

          </div> <!-- testimonial -->

        </div> <!-- grid column -->

        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">

          <div class="testimonial">

            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
                class="rounded-circle z-depth-1 img-fluid">
            </div>

            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
            <h5 class="font-weight-bold blue-text my-3">Writter</h5>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid commodi.</p>

            <!--Review-->
            <div class="orange-text">
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star-half-alt text-primary"> </i>
            </div>

          </div> <!-- testimonial -->

        </div> <!-- grid column -->

        <!--Grid column-->
        <div class="col-md-4">

          <div class="testimonial">

            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                class="rounded-circle z-depth-1 img-fluid">
            </div>

            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
            <h5 class="font-weight-bold blue-text my-3">Photographer</h5>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos
              ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti.</p>

            <!--Review-->
            <div class="orange-text">
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="fas fa-star text-primary"> </i>
              <i class="far fa-star text-primary"> </i>
            </div>

          </div> <!-- testimonial -->

        </div> <!-- grid column -->

      </div> <!-- row -->

    </section> <!-- team-section -->
  </div> <!-- container -->

  <!-- End of Testimonials -->

{% endblock content %}